@font-face {
  font-family: Clicker Script;
  src: url(../fonts/ClickerScript-Regular.ttf);
}

@font-face {
  font-family: Cinzel;
  src: url(../fonts/Cinzel-Regular.ttf);
}

.type_3 {
  font-family: Cinzel;
  margin-top: 50px;
}

.type_3 .name {
  font-family: Clicker Script;
  text-align: center;
  color: #f07677;
  margin: 5px auto;
  vertical-align: baseline;
  font-size: 25px;
}

.type_3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.type_3 .cmt {
  text-align: center;
  color: #898989;
  font: normal 12px/18px Cinzel;
  display: block;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
}

.type_3 .dmy {
  font: normal 26px/36px Cinzel;
  text-align: center;
  margin-top: .4em;
  margin-bottom: .4em;
}

.type_3 .fa-facebook {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #f07677;
  font-size: 26px;
  line-height: 1;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .type_3 {
    display: inline-block;
    text-align: center;
  }
  .type_3 .dmy {
    margin-bottom: 40px;
  }
}
