@font-face {
    font-family: Clicker Script;
    src: url(../fonts/ClickerScript-Regular.ttf);
}

@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel-Regular.ttf);
}

.type_3 {

    $color_1: #f07677;
    $color_2: #898989;
    font-family: Cinzel;

    margin-top:50px;

	.name {
		font-family: Clicker Script;
		text-align: center;
		color: $color_1;
		margin: 5px auto; 
		vertical-align: baseline;
		font-size: 25px;
		
	}
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.cmt {
		text-align: center;
		color: $color_2;
		font: normal 12px/18px Cinzel;
		display: block;
		-webkit-margin-before: 1em;
		margin-block-start: 1em;
		-webkit-margin-after: 1em;
		margin-block-end: 1em;
	}
	.dmy {
		font: normal 26px/36px Cinzel;
		text-align: center;
		margin-top: .4em;
		margin-bottom: .4em;
	}
	.fa-facebook {
		display: block;
		margin-left: auto;
		margin-right: auto;
		color: $color_1;
		font-size: 26px;
		line-height: 1;
		text-align: center;
	}
	
}
@media screen and (max-width: 700px) {
	.type_3 {
		display: inline-block;
		text-align: center;
		.dmy{
			margin-bottom: 40px;
		}
    }
    
}
