.type-15 iframe {
  width: 100%;
  margin-bottom: 40px;
}

.type-15 label {
  color: #898989;
  font-family: Cinzel;
}

.type-15 input:focus {
  border: 1px solid #f07677;
}

.type-15 textarea:focus {
  border: 1px solid #f07677;
}

.type-15 img {
  width: 40px;
}

.type-15 a {
  font-family: Cinzel;
  background: #f07677;
  color: #fff;
  border: none;
  font-size: 14px;
  line-height: 1px;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

.type-15 a:hover {
  border: 1px solid #f07677;
  color: #f07677;
  background: oldlace;
}

.type-15 .icon {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}

.type-15 .address {
  cursor: pointer;
  text-align: center;
  margin-top: 50px;
  color: #f17677;
  font: normal 30px/30px "Clicker Script";
}

.type-15 p {
  display: none;
  text-align: center;
  color: #898989;
  font-size: 0.8em;
}

.type-15 .map {
  display: none;
  color: #f07677;
  text-decoration: underline;
  text-align: center;
  font-size: 0.8em;
}

.type-15 .pih {
  cursor: pointer;
}

.type-15 .pih .icon {
  transform: scale(1);
}

.type-15 .pih .content {
  display: none;
  position: relative;
  top: 0%;
}

.type-15 .pih .content p {
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  display: block;
}

.type-15 .pih .content .map {
  cursor: pointer;
  display: block;
  color: #f07677;
  text-decoration: underline;
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 30px;
}

.type-15 .pih:hover {
  border: 3px solid #f1f1f1;
}

.type-15 .pih:hover .icon {
  transition: all .5s;
  transform: scale(2);
}

.type-15 .pih:hover .content {
  display: block;
  animation: down .5s ease;
}

@keyframes down {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}
