.type-8 {
  font-family: Cinzel;
  background-image: url("../images/8-6.png");
}

.type-8 .title {
  font: normal 20px/28px "Cinzel";
  text-align: center;
  padding-top: 15px;
}

.type-8 .cmt {
  font: normal 12px/18px "Cinzel";
  color: #889988;
  text-align: center;
  padding-top: 15px;
}

.type-8 .fix {
  padding-top: 15px;
}

.type-8 .fix img {
  display: block;
  margin: 0 auto;
}

.type-8 .fix h5 {
  text-align: center;
}

.type-8 .fix h5 a {
  text-align: center;
  font: normal 12px/16px "Cinzel";
  color: #393939;
}

.type-8 .fix h5 a:hover {
  color: #f07677;
  text-decoration: none;
}

.type-8 .thanks {
  color: #f07677;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 480px) {
  .type-8 .rol {
    margin-bottom: 15px;
  }
}
