.type-17 iframe {
  width: 100%;
}

.type-17 label {
  color: #898989;
  font-family: Cinzel;
}

.type-17 img {
  width: 40px;
}

.type-17 a {
  font-family: Cinzel;
  background: #f07677;
  color: #fff;
  border: none;
  font-size: 14px;
  line-height: 1px;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

.type-17 a:hover {
  border: 1px solid #f07677;
  color: #f07677;
  background: oldlace;
}
