.type-4 {
  font-family: "Cinzel";
  background-image: url("../images/4-1.png");
  padding-bottom: 250px;
}

.type-4 .linemain {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}

.type-4 .linemain .line-left {
  width: 48%;
  border-top: 1px solid #f8f9f8;
  border-bottom: 1px solid #f8f9f8;
  padding-top: 2px;
  margin: 10px;
}

.type-4 .linemain .just {
  width: 4%;
  font: normal 20px/28px;
  text-align: center;
}

.type-4 .linemain .line-right {
  width: 48%;
  border-top: 1px solid #f8f9f8;
  border-bottom: 1px solid #f8f9f8;
  padding-top: 2px;
  margin: 10px;
}

.type-4 .time p {
  font-family: 'Clicker Script';
  color: #f07677;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 90px;
  padding: 10px;
}
