.type-19 {
  font-family: "Cinzel";
}

.type-19 .borderlr .lol {
  border-left: 2px solid #f1f1f1;
  border-right: 2px solid #f1f1f1;
  border-bottom: 2px solid #f1f1f1;
  padding-bottom: 50px;
}

.type-19 .borderlr .lol textarea {
  margin-top: 50px;
  width: 97%;
}

.type-19 .borderlr .lol textarea:focus {
  border: 1px solid #f07677;
  outline: none;
}

.type-19 .borderlr .lol input {
  width: 94%;
}

.type-19 .borderlr .lol input:focus {
  border: 1px solid #f07677;
  outline: none;
}

.type-19 .borderlr .lol a {
  color: #f1f1f1;
  background: #f07677;
  border: none;
  border-radius: 30px;
}

.type-19 .borderlr .lol a:hover {
  color: #f07677;
  background: #ffffff;
  border: 1px solid #f07677;
}

.type-19 .borderlr .box {
  display: flex;
  width: 100%;
}

.type-19 .borderlr .box .line-left {
  width: 47%;
  border-top: 2px solid #f1f1f1;
  margin: 10px;
}

.type-19 .borderlr .box .sayhi {
  width: 6%;
  text-align: center;
}

.type-19 .borderlr .box .line-right {
  width: 47%;
  border-top: 2px solid #f1f1f1;
  margin: 10px;
}

.type-19 .title {
  font-size: 27px;
  text-align: center;
}

.type-19 .cmt {
  color: #f07677;
  font: normal 30px/30px "Clicker Script";
  margin-top: .4em;
  margin-bottom: .4em;
  text-align: center;
}
